
html, body
  height 100%
  width 100%
  margin 0
  font-family arial, helvetica, san-serif

input, select
  padding 5px

.left
  float left

.right
  float right

select, input
  margin-left 10px

label
  margin-top 7px

.table.dark
  label, p
    color #f8f8f8

p
  margin 0px 10px 0 0

.table
  display table
  width 100%
  height 100%
  font-size 12px

.row
  width 95.5%
  padding 15px 10px
  float left

.header
  height 20px
  background-color #fff
  border-bottom 1px solid #ccc
  font-size 16px

  .right
    margin -2px 5px 0 0

.calculate

  img
    margin-right 10px

  select
    width 150px

.material

  select
    width 365px

.spill

  .time
    margin-left 25px

  select
    width 123px

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  opacity 1

.row.wind
  button
    display none

.row.buttons

  button
    padding 10px
    background-color: #fff
    border 1px solid #007ac2
    color #007ac2
    transition all .3s ease
    position absolute
    bottom 20px
    cursor pointer

    &:hover
      background-color #007ac2
      color #fff

    &.left
      left 30px

    &.right
      right 30px

    &.center
      left 170px

  .disabled
    border-color #aaa
    color #aaa
    background-color transparent
    cursor default

    &:hover
      border-color #aaa
      color #aaa
      background-color transparent


.row.check
  position absolute
  bottom 65px
  checkbox
    padding-left 5px !important

.windInfo

.hide
  display none

.show
  display block

.loading-small
  width 20px
  height 20px
  position absolute
  bottom 32px
  left 80px

.activate
  background-color #c4e1ff