@import "//js.arcgis.com/3.18/dojox/form/resources/CheckedMultiSelect.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 13px sans-serif;
  font-family: "Segoe UI";
}

label {
  display: block;
}

.dataSourceInfoLabel {
  font-weight: bold;
  margin-bottom: 10px;
}

.configLabel {
  margin-bottom: 10px;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-row.full {
  height: 100%;
}

.dojoxCheckedMultiSelect, .dojoxCheckedMultiSelectWrapper {
  height: inherit !important;
  margin: 0 !important;
  overflow-y: auto !important;
  border: none !important;
}

.dijitInline.dojoxMultiSelectItemLabel, .dijitInline.dijitCheckBox {
  display: inline;
}
